@import "../../theme/variables";
.sk-money{
  display: inline-flex;
  align-items: baseline;

  &.bold{
    .amount{
      font-weight: bold;
    }
  }
}

.unit{
  font-size: 70%;
}

.amount{
  margin-left: 0.03rem;
}

.suffix{
  font-size: 70%;
  margin-left: 0.04rem;
}
