<sk-modal #view [(isShow)]="isShow" (confirmEvent)="confirm()">
  <div class="pickers">
    <div *ngIf="getIsShow('y')" data-id="picker-y" class="sk-picker-item">
      <sk-picker #year [list]="yearListOption" (change)="onChangeYear($event)" [value]="separateValue.y"></sk-picker>
    </div>

    <div *ngIf="getIsShow('m')" data-id="picker-m" class="sk-picker-item">
      <sk-picker #month [list]="monthListOption" (change)="onChangeMonth($event)" [value]="separateValue.m"></sk-picker>
    </div>

    <div *ngIf="getIsShow('d')" data-id="picker-d" class="sk-picker-item">
      <sk-picker #day [list]="dayListOption" (change)="onChangeDay($event)" [value]="separateValue.d"></sk-picker>
    </div>

    <div *ngIf="getIsShow('h')" data-id="picker-h" class="sk-picker-item">
      <sk-picker #hour [list]="hourListOption" (change)="onChangeHour($event)" [value]="separateValue.h"></sk-picker>
    </div>

    <div *ngIf="getIsShow('i')" data-id="picker-i" class="sk-picker-item">
      <sk-picker #minute [list]="minuteListOption" (change)="onChangeMinute($event)" [value]="separateValue.i"></sk-picker>
    </div>
  </div>
</sk-modal>
