.page-bg {
  background-image: url(/assets/img/main/bg.jpg);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;

  .canvas-part {
    position: absolute;
    top: 1rem;
    left: 0%;
    width: 100%;
    transform: translate(0%, 0%);
  }

  .text-img {
    position: absolute;
    background: transparent;
    z-index: 2;

    &.text1 {
      left: 0.15rem;
      top: 0.47rem;
      width: 2.16rem;
    }

    &.text2 {
      left: 0.21rem;
      top: 5rem;
      width: 1.62rem;
    }

    &.text3 {
      right: 0.1rem;
      top: 4rem;
      width: 0.14rem;
    }
  }
}

sk-layout {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
}

.hand-con {
  position: fixed;
  z-index: 1000;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #fff;
  text-align: center;
  letter-spacing: 10px;

  sk-image {
    background: transparent;
    width: 0.46rem;
    display: inline-block;
  }
}


.start-point-part {
  .cool-menu-con {
    margin-top: -0.3rem;
    transform: scale(0, 0);
    transition: all 200ms ease-in;
    opacity: 0;

    &.show {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  .line-con {
    position: absolute;
  }
  .p1 {
    position: absolute;
    top: 1.46rem;
    left: 0.4rem;

    .point-t0 {
      pointer-events: none;
      width: 0.32rem;
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .p2 {
    position: absolute;
    top:0.7rem;
    right: 0.3rem;
    transform: scale(0.618);
    transform-origin: top right;

    .line-t1-con {
      pointer-events: none;
      position: absolute;
      width: 0.53rem;
      left: 33%;
      transform: translateX(-50%);
      top: 0.6rem;

      .point {
        width: 0.6rem;
        position: absolute;
        bottom: 0;
        left: 0%;
        transform: translate(-53%, 60%);
      }
    }
  }

  .p3 {
    position: absolute;
    left: 0.4rem;
    top: 5rem;
    transform: scale(0.5);
    transform-origin: bottom left;

    .line-con {
      pointer-events: none;
      position: absolute;
      bottom: 0.5rem;
      right: 50%;
      width: 0.16rem;

      .point {
        width: 0.64rem;
        top: 0;
        left: 0;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }

  .p4 {
    position: absolute;
    left: 1.42rem;
    top: 4.93rem;
    transform: scale(0.6);
    transform-origin: bottom left;

    .line-con {
      position: absolute;
      bottom: 0.5rem;
      right: 50%;
      width: 0.25rem;
      pointer-events: none;

      .point {
        width: 0.53rem;
        top: 0;
        left: 0;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }

  .p5 {
    position: absolute;
    left: 2.4rem;
    top: 5.33rem;
    transform: scale(0.6);
    transform-origin: bottom left;

    .line-con {
      pointer-events: none;
      position: absolute;
      bottom: 0.5rem;
      right: 50%;
      width: 0.32rem;

      .point {
        width: 0.53rem;
        top: 0;
        left: 0;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }
}
