<div class="page-bg">
  <sk-image class="text1 text-img" [src]="'/assets/img/main/text/t1.png'" [ratio]="431/28"></sk-image>
  <sk-image class="text2 text-img" [src]="'/assets/img/main/text/t2.png'" [ratio]="323/86"></sk-image>
  <sk-image class="text3 text-img" [src]="'/assets/img/main/text/t3.png'" [ratio]="28/431"></sk-image>
</div>

<sk-layout>
  <sk-lei-header class="top" [hasBack]="false"></sk-lei-header>

  <div class="main">
    <div #canvasCon class="canvas-part"></div>

    <div class="start-point-part">
      <div class="cool-menu-con cool-xingqiufuli" [ngClass]="{'show': isShowFront}" (tap)="gotoPage('buy')">
          <sk-image class="line" [ratio]="506/154" src="/assets/img/main/v2/xingqiufuli.png"></sk-image>
          <sk-image class="point" [ratio]="1/1" src="/assets/img/main/light.png"></sk-image>
      </div>

      <div class="cool-menu-con cool-reserve" [ngClass]="{'show': isShowFront}" (tap)="gotoPage('reserve')">
        <sk-image [ratio]="500/152" src="/assets/img/main/v2/reserve.png"></sk-image>
        <div class="line">
          <sk-image [ratio]="192/316" src="/assets/img/main/v2/reserve-line.png"></sk-image>
          <sk-image class="point" [ratio]="1/1" src="/assets/img/main/light.png"></sk-image>
        </div>
      </div>

      <div class="cool-menu-con cool-xingqiuzhanlan" [ngClass]="{'show': isShowFront}"  (tap)="gotoPage('view')">
        <sk-image [ratio]="520/152" src="/assets/img/main/v2/xingqiuzhanlan.png"></sk-image>
        <sk-image class="point" [ratio]="1/1" src="/assets/img/main/light.png"></sk-image>
      </div>

      <div class="cool-menu-con cool-wuxiandianbo" [ngClass]="{'show': isShowBack}">
        <sk-image [ratio]="576/154" src="/assets/img/main/v2/wuxiandianbo.png"></sk-image>
        <div class="line">
          <sk-image [ratio]="106/600" src="/assets/img/main/v2/wuxiandianbo-line.png"></sk-image>
          <sk-image class="point" [ratio]="1/1" src="/assets/img/main/light.png"></sk-image>
        </div>
      </div>

      <div class="cool-menu-con cool-xunhangjiaoliu" [ngClass]="{'show': isShowBack}">
        <sk-image [ratio]="576/154" src="/assets/img/main/v2/xunhangjiaoliu.png"></sk-image>
        <div class="line">
          <sk-image [ratio]="208/320" src="/assets/img/main/v2/xunhangjiaoliu-line.png"></sk-image>
          <sk-image class="point" [ratio]="1/1" src="/assets/img/main/light.png"></sk-image>
        </div>
      </div>
    </div>
  </div>
</sk-layout>

<div class="hand-con">
  <sk-image [src]="'/assets/img/main/hand.png'" [ratio]="119/53"></sk-image>
  <p>滑动移动星球</p>
</div>
