<sk-layout>
  <sk-header title="首页"></sk-header>
  <div class="main">
    <sk-image [src]="imgSrc" [ratio]="16/9" (tap)="onTapImg()"></sk-image>
  </div>

  <div class="bottom">
    <sk-button [type]="EnButtonType.black"
               [disabled]="false" (tapEvent)="isShowMask = true" [adaptType]="'bottom'">选择日期</sk-button>

    <sk-button [type]="EnButtonType.primary" [size]="EnButtonSize.default"
               [disabled]="false" (tapEvent)="onTapButton()" [adaptType]="'bottom'">选房预定</sk-button>
  </div>
</sk-layout>

<!--<sk-date-picker [(isShow)]="isShowMask" [dataType]="'date'"></sk-date-picker>-->

<sk-modal [(isShow)]="isShowMask" [title]="'选择日期'">
  <sk-picker [(value)]="year" [isShow]="isShowMask" [data]="cityList" [displayField]="'cityName'" [valueField]="'cityId'"></sk-picker>
</sk-modal>
