.bottom{
  padding: 0.1rem;
  text-align: right;
}
.btn-con{
  padding: 0.1rem;
  text-align: right;
}

.main{
  .list {
    line-height: 0;
    width: 400%;
  }

  sk-image{
    width: 25%;
  }
}

sk-button{
  & + & {
    margin-left: 0.1rem;
  }
}

.input-con{
  border-bottom: 1px solid #ddd;
  height: 0.36rem;
  line-height: 0;
}
input{
  border: none;
  padding: 0.1rem;
  border-radius: 10px;
  width: 50%;
  transform-origin: left top;
  line-height: 0.14rem;
  background-color: transparent;
}
