<div class="back-img" [ngClass]="{'back-t2': currentIndex === 2}">
  <!--<sk-image class="not-img" [ratio]="356/235" src="/assets/img/xunhangjiaoliu/not.png"></sk-image>-->
</div>
<sk-layout>
  <div class="top">
    <sk-lei-header class="top-part" [hasBack]="false" [hasMusic]="false"></sk-lei-header>
    <!-- <div class="top-name">
      <sk-image [ratio]="293/72" src="/assets/img/forum/top-name.png"></sk-image>
    </div> -->

    <div class="tabtop">
      <img src="/assets/img/forum/topname.png" alt="">
    </div>

    <div class="tabset">
      <div class="tab tab1" (tap)="switchTab(1)" [ngClass]="{visible: currentIndex === 1}">
        <!-- <sk-image [ratio]="458/265" src="/assets/img/forum/t1-big.png"></sk-image> -->
        <span>智趣图集</span>
      </div>
      <div class="tab tab2" (tap)="switchTab(2)" [ngClass]="{visible: currentIndex === 2}">
        <!-- <sk-image [ratio]="110/60" src="/assets/img/forum/t2-big.png"></sk-image> -->
        <span>型动视野</span>
      </div>
      <div class="tab tab3" (tap)="switchTab(3)" [ngClass]="{visible: currentIndex === 3}">
        <!-- <sk- [ratio]="110/60" src="/assets/img/forum/t3-big.png"></sk-image> -->
        <span>试驾频道</span>
      </div>

      <div class="tabline">
        <img src="/assets/img/forum/cattabline.png" alt="">
      </div>

      <!-- <div class="tabcenter">
        <img src="/assets/img/forum/p3-meiti.png" alt="">
      </div> -->
    </div>
  </div>


  <div class="main-content">

    <div *ngIf="currentIndex === 1" class="t1-page">
      <!-- <div class="title-box">
        <div [ngStyle]="{width: allWidth}">
          <div *ngFor="let city of stationList; let i = index" [ngStyle]="{color: sIndex === i ? '#fff' : '#ddd', fontWeight: sIndex === i ? 'bold' : 'normal'}" class="title" (tap)="onChangeCity(city, i)">
            <div class="c1"></div>
            <div class="c2"></div>
            <p>{{stationList && city.stationName}}</p>
          </div>
        </div>
      </div> -->

      <div class="flex-img-part" style="border-left: none">
        <div class="flex-img-box">
          <div class="img-item" *ngFor="let imgItem of stationImgList" (tap)="onViewImg(imgItem)">
            <sk-image [src]="imgItem.url" class="img" [ratio]="1"  [processWidth]="256"></sk-image>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentIndex === 2"  class="t2-page">
      <!-- <sk-image class="img-title" [ratio]="492/111" src="/assets/img/forum/p2-back-title.png"></sk-image> -->
      <div class="content">
        <div class="angle-left" (tap)="preVideo();"></div>
        <div class="angle-right" (tap)="nextVideo();"></div>
        <sk-image src="/assets/img/forum/p2-video-bg.png" [ratio]="726 / 403"></sk-image>
        <div class="swiper-con">
          <sk-swiper #swiper [isAuto]="false">
            <sk-swiper-slide *ngFor="let pic of pics; let i = index;">
              <video #video class="video" width="100%" controls
                     poster="/assets/img/car-3.png"
                     x5-video-player-type="h5" x5-video-player-fullscreen="true" playsinline
                     [src]="pic.video" (play)="onPlayVideo(pic)" preload="auto" (pause)="onPause(pic)">
                your browser does not support the video tag
              </video>
              <sk-image [src]="pic.url" [ratio]="16 / 9"></sk-image>
              <sk-image *ngIf="false && !pic.hasPlay" class="play-img" [ratio]="1" src="/assets/img/forum/play.png" (tap)="playVideo(i)"></sk-image>
            </sk-swiper-slide>
          </sk-swiper>
        </div>
      </div>
    </div>

    <div *ngIf="currentIndex === 3"  class="t3-page">
      <sk-media-list></sk-media-list>
    </div>

  </div>
</sk-layout>



<sk-picker [(isShow)]="isShowSelect" [isMulti]="false"
           [title]="'选择站点'" displayField="stationName" valueField="id"
           [data]="stationList" (changeSelectedItem)="onChangeSelect($event)"></sk-picker>




<div *ngIf="viewImgSrc" class="view-img-part">
  <div class="close-con" (tap)="onTapCloseViewImg()">
    <sk-image  class="close-image" [ratio]="1" src="/assets/img/reserve/close.png"></sk-image>
  </div>
  <img [src]="viewImgSrc" alt="" class="img">

  <button *ngIf="isShowBeforeBtn" class="change-pic before" (tap)="tapBefore()"></button>
  <button *ngIf="isShowPrevBtn" class="change-pic prev" (tap)="tapPrev()"></button>
  
  <button *ngIf="isShowRealImgBtn" class="check-real" (tap)="checkReal()">查看原图</button>
</div>
