<sk-layout>
  <sk-header [hasBack]="true" [title]="'公寓列表'" (tapRight)="onTapCity()">
    <div class="right">
      <span>全国</span>
      <span [skIcon]="'full-angle-down'"></span>
    </div>
  </sk-header>

  <div class="main-part">
    <div *ngFor="let apartment of apartments" class="apartment">
      <div class="img-con">
        <sk-image [ratio]="345/190" [pictures]="apartment.coverPictures"></sk-image>
      </div>
      <div class="store-name">
        <span>泉州方隅中骏商城公寓</span>
        <div class="price">
          <sk-money [isShowDecimal]="false" [amount]="1350"></sk-money>
        </div>
      </div>

      <div class="address store-desc">
        <img class="icon" src="../../../../assets/img/coordinate.svg" alt="">
        <span class="text">{{apartment.addressLine}}</span>
      </div>
      <div *ngIf="!!apartment.focusPoi" class="geo-tags store-desc">
        <div class="main">
          <img class="icon" src="../../../../assets/img/distance.svg" alt="">
          <span class="text">
          <span>{{getPoiName(apartment)}}</span>
          <span class="distance">{{getPoiPosition(apartment)}}</span>
        </span>
        </div>
        <div class="tags">
          <sk-tag *ngFor="let label of apartment.labels" [size]="EnTagSize.small" [text]="label.name"></sk-tag>
        </div>
      </div>
    </div>
  </div>

</sk-layout>
