@import "../../../theme/variables";
.main{
  background-color: #fff;
}
.main{
  font-size: 0.15rem;
}
.apartment{
  padding: 0.15rem 0;
  margin: 0 0.15rem;
  border-bottom: 1px solid #eee;
}
.img-con{
  border-radius: 0.06rem;
  overflow: hidden;
}

.store-name{
  padding-top: 0.14rem;
  .price{
    font-size: $xLargeFontSize;
    float: right;
    color: $primaryColor;
  }
}

.store-desc{
  padding-top: 0.05rem;
  color: $greyFontColor;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: $xSmallFontSize;

  .main{
    flex: 1;
  }

  .icon{
    width: 0.13rem;
    vertical-align: middle;
  }
  .text{
    vertical-align: middle;
    margin-left: 0.07rem;
  }
}

sk-tag + sk-tag{
  margin-left: 0.06rem;
}
