<sk-layout>
  <sk-header [hasBack]="true" [title]="'公寓列表'">
    <div class="right">
      <span>全国</span>
    </div>
  </sk-header>
  <div class="main">
    <div class="apartment" *ngFor="let apartment of apartments">
      <div class="img-con">
        <sk-image [ratio]="345/190" [src]="'http://sce-funlive-01.oss-cn-shanghai.aliyuncs.com/hotel/1545961988406040e3fd9-c766-4fb1-a2f8-ce4ad66e19b7?x-oss-process=image/resize,w_1125'"></sk-image>
      </div>
      <div class="store-name">
        <span>泉州方隅中骏商城公寓</span>
        <div class="price">
          <sk-money [isShowDecimal]="false" [amount]="1350"></sk-money>
        </div>
      </div>
      <div class="store-name">
        <span>泉州方隅中骏商城公寓</span>
      </div>
      <div class="price">
        <sk-money [isShowDecimal]="false" [amount]="1350"></sk-money>
      </div>
      <div class="address store-desc">
        <img class="icon" src="../../../../assets/img/coordinate.svg" alt="">
        <span class="text">鲤城区 池峰路770号</span>
      </div>
      <div class="geo-tags store-desc">
        <div class="main">
          <img class="icon" src="../../../../assets/img/distance.svg" alt="">
          <span class="text">
            <span>距浮桥</span>
            <span>1.6km</span>
          </span>
        </div>
        <div class="tags">
          <sk-tag [size]="EnTagSize.small" [text]="'交通便利'"></sk-tag>
          <sk-tag [size]="EnTagSize.small" [text]="'地铁附近'"></sk-tag>
        </div>
      </div>
    </div>
  </div>
</sk-layout>
