<div class="media-list-wrap">
  <div class="media-list" #mediaList>
    <div *ngFor="let media of mediaListData; let i = index"
         class="media-item" [ngClass]="{active: currentMediaIndex === i}"
         (tap)="onTapMedia(i)"
         [ngStyle]="getScaleStyle(i - currentMediaIndex)">
      <div class="media">
        <div class="media-name">{{media.name}}</div>
        <sk-image [processWidth]="256" [ratio]="1" [src]="media.picUrl"></sk-image>
      </div>
      <sk-image [src]="'/assets/img/forum/p3-meiti.png'" [ratio]="1"></sk-image>
    </div>
  </div>
</div>


<div class="rich-container">
  <div class="angle-left" (tap)="changeMediaArticle(-1)"></div>
  <div class="angle-right" (tap)="changeMediaArticle(1)"></div>
  <sk-image src="/assets/img/forum/p3-rich-bg.png" [ratio]="729/581"></sk-image>
  <div class="rich-wrapper" (tap)="onTapShare()">
    <ng-container *ngFor="let article of articleList; let ind = index">
      <div *ngIf="ind === currentArticleIndex">
        <div class="title">{{article.title}}</div>
        <div class="rich-text" [innerHTML]="article.text"></div>
        <!--<img class="article-img" [src]="article.headPic" alt="">-->
      </div>
    </ng-container>
  </div>
</div>

<!--<sk-img-viewer></sk-img-viewer>-->
<sk-article-viewer [(isShow)]="isShow" [richData]="articleList && articleList[currentArticleIndex]"></sk-article-viewer>
