<sk-modal [(isShow)]="isShow"
          [title]="title"
          (hideEvent)="onHide()"
          (showEvent)="onShow()"
          (confirmEvent)="onConfirm()"
          (animationStartEvent)="onAnimateStart($event)"
          (animalDoneEvent)="onAnimateDone($event)">

  <div class="pickers">

    <ng-container *ngIf="isMulti && data">
      <sk-picker-column *ngFor="let item of data; let inx = index"
                        [(value)]="innerValue[inx]"
                        [isShow]="isShowPicker"
                        [data]="item.options"
                        [displayField]="displayField"
                        [valueField]="valueField" (scrollEnd)="onScrollEnd($event, inx)"></sk-picker-column>
    </ng-container>

    <ng-container *ngIf="!isMulti">
      <sk-picker-column [(value)]="innerValue"
                        [isShow]="isShowPicker"
                        [data]="data"
                        [displayField]="displayField"
                        [valueField]="valueField" (scrollEnd)="onScrollEnd($event, 0)"></sk-picker-column>
    </ng-container>
  </div>

</sk-modal>
