<sk-modal [(isShow)]="isShow"
          [title]="title"
          (hideEvent)="onHide()"
          (showEvent)="onShow()"
          (confirmEvent)="onConfirm()"
          (animationStartEvent)="onAnimateStart($event)"
          (animalDoneEvent)="onAnimateDone($event)">

  <sk-picker-column [(value)]="innerValue"
                    [isShow]="isShowPicker"
                    [data]="data"
                    [displayField]="displayField"
                    [valueField]="valueField"></sk-picker-column>
</sk-modal>
