@import "../../theme/variables";
.layout-wrapper {
  padding: 0;

  &.static {
    display: table;
    table-layout: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .row {
      display: table-row;
    }

    .main-part {
      height: 100%;
      position: relative;

      .main-content{
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }

  &.fixed {
    padding-top: 0;

    &.init{
      .top-part{
        position: fixed;
      }
    }

    .top-part, .bottom-part {
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 100;
    }

    .top-part {
      top: 0;
    }

    .bottom-part {
      bottom: 0;
      position: fixed;
    }
  }
}
