@import "../../theme/variables";

$headerBorderColor: #fafafa;
:host {
  display: block;
  position: relative;
  height: $headerHeight;
  line-height: $headerHeight;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid $headerBorderColor;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.117647);
}

.title {
  font-size: $xLargeFontSize;
  margin: 0;
  padding: 0;
  line-height: $headerHeight;
}

.left, .right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  min-width: $headerHeight;
}

.left {
  left: 0;
  padding-left: 0.12rem;
  text-align: left;
  color: $greyFontColor;

  .icon {
    font-size: 0.22rem;
  }
}

.right {
  right: 0;
  padding-right: 0.12rem;
  text-align: right;
  color: #666;
}
