<div class="bg">
  <sk-image class="car" src="/assets/img/reserve/car.png" [ratio]="1192/610"></sk-image>
</div>
<sk-layout>
  <sk-lei-header class="top-part top"></sk-lei-header>

  <div class="content">
    <div style="text-align: center">
      <img class="title" src="/assets/img/carPrice/title.png">
    </div>
    <div class="text-top">
      <div class="top-row" style="border-bottom: 1px solid #fff">
        <div style="border-right: 1px solid #fff;padding-bottom: 0.1rem">
          <div class="car-type">1.8V豪华版（CVT）</div>
          <div class="price">
            <span class="top-num">16.18</span>
            <span class="unit">万元</span>
          </div>
        </div>
        <div style="padding-bottom: 0.1rem;padding-left: 0.1rem">
          <div class="car-type">1.8GS-L领先版（CVT）</div>
          <div class="price">
            <span class="top-num">15.28</span>
            <span class="unit">万元</span>
          </div>
        </div>
      </div>
      <div class="top-row">
        <div style="border-right: 1px solid #fff;padding-top: 0.1rem">
          <div class="car-type">1.8gGS精英版（CVT）</div>
          <div class="price">
            <span class="top-num">14.18</span>
            <span class="unit">万元</span>
          </div>
        </div>
        <div style="padding-top: 0.1rem;padding-left: 0.1rem">
          <div class="car-type">185T领先版（CVT）</div>
          <div class="price">
            <span class="top-num">13.78</span>
            <span class="unit">万元</span>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <img class="title2" src="/assets/img/carPrice/title2.png">
    </div>
    <div class="text-center">
      <div class="center-row" style="margin-top: 0.1rem">
        <div class="center-label">品质无忧:</div>
        <div class="center-text">全球<span class="key-text">1200万</span>丰田混动用户信赖</div>
      </div>
      <div class="center-row">
        <div class="center-label">购买无忧:</div>
        <div class="center-text">享受新能源汽车补贴及低门槛金融政策</div>
      </div>
      <div class="center-row">
        <div class="center-label">上牌无忧:</div>
        <div class="center-text"><span class="key-text">不拍牌、不限行、直接上绿牌</span></div>
      </div>
      <div class="center-row">
        <div class="center-label">品质无忧:</div>
        <div class="center-text" style="white-space:nowrap;">有车位及物业同意,提车即送电桩及免费安装</div>
      </div>
      <div class="center-row">
        <div class="center-label">电池无忧:</div>
        <div class="center-text"><span class="key-text">不限年限、不限里程</span>电池无忧保障</div>
      </div>
      <div class="center-row">
        <div class="center-label">服务无忧:</div>
        <div class="center-text">2019年每月节能排名前100名的车主，可享受免费保养服务一次</div>
      </div>
    </div>
    <div class="btn-con">
      <img (tap)="gotoJinrongjie();" class="go" src="/assets/img/carPrice/go.png">
    </div>
  </div>
  <!--<sk-image (tap)="gotoJinrongjie();" class="btn-img" [ratio]="784/154" src="/assets/img/carPrice/btn.png"></sk-image>-->
</sk-layout>
