<div class="bg">
</div>
<sk-layout>
  <sk-lei-header class="top-part top"></sk-lei-header>

  <div class="content">
    <div style="text-align: center">
      <img class="title" src="/assets/img/carPrice/title.png">
    </div>
    <div class="text-top">
      <div class="top-row" style="border-bottom: 1px solid #fff">
        <div style="border-right: 1px solid #fff;padding-bottom: 0.1rem">
          <div class="car-type">1.1.8PH GS精英版</div>
          <div class="price-con">
            <div class="price">
              <span class="top-num delete">20.78</span>
              <span class="unit">万元</span>
              <br>
            </div>
            <div class="price real-con">
              <span class="top-num real">18.58</span>
              <span class="unit">万元</span>
            </div>
          </div>
          <div class="desc-con">
            <span class="desc">市场指导价</span>
            <span class="desc">补贴后价格</span>
          </div>

        </div>
        <div style="padding-bottom: 0.1rem;padding-left: 0.1rem">
          <div class="car-type">1.8PH GS精英风尚版</div>
          <div class="price-con">
            <div class="price">
              <span class="top-num delete">21.38</span>
              <span class="unit">万元</span>
            </div>
            <div class="price real-con">
              <span class="top-num real">19.18</span>
              <span class="unit">万元</span>
            </div>
          </div>
          <div class="desc-con">
            <span class="desc">市场指导价</span>
            <span class="desc">补贴后价格</span>
          </div>
        </div>
      </div>
      <div class="top-row">
        <div style="border-right: 1px solid #fff;padding-top: 0.1rem">
          <div class="car-type">1.8PH GS精英天窗版</div>
          <div class="price-con ">
            <div class="price">
              <span class="top-num delete">21.68</span>
              <span class="unit">万元</span>
            </div>
            <div class="price real-con">
              <span class="top-num real">19.48</span>
              <span class="unit">万元</span>
            </div>
          </div>
          <div class="desc-con">
            <span class="desc">市场指导价</span>
            <span class="desc">补贴后价格</span>
          </div>
        </div>
        <div style="padding-top: 0.1rem;padding-left: 0.1rem">
          <div class="car-type">1.8PH V豪华版</div>
          <div class="price-con">
            <div class="price">
              <span class="top-num delete">22.28</span>
              <span class="unit">万元</span>
            </div>
            <div class="price real-con">
              <span class="top-num real">20.08</span>
              <span class="unit">万元</span>
            </div>
          </div>
          <div class="desc-con">
            <span class="desc">市场指导价</span>
            <span class="desc">补贴后价格</span>
          </div>
        </div>
      </div>
    </div>

    <div class="part2">
      <div style="text-align: center">
        <!--<img class="title2" src="/assets/img/carPrice/title2.png">-->
        <div class="title2">全程无忧价值体系</div>
      </div>
      <div class="text-center">
        <div class="center-row">
          <div class="center-label">品质无忧:</div>
          <div class="center-text">全球<span class="key-text">1200万</span>丰田混动用户信赖</div>
        </div>
        <div class="center-row">
          <div class="center-label">购买无忧:</div>
          <div class="center-text">享受新能源汽车补贴及低门槛金融政策</div>
        </div>
        <div class="center-row">
          <div class="center-label">上牌无忧:</div>
          <div class="center-text"><span class="key-text">不拍牌、不限行、直接上绿牌</span></div>
        </div>
        <div class="center-row">
          <div class="center-label">品质无忧:</div>
          <div class="center-text" style="white-space:nowrap;">有车位及物业同意,提车即送电桩及免费安装</div>
        </div>
        <div class="center-row">
          <div class="center-label">电池无忧:</div>
          <div class="center-text"><span class="key-text">不限年限、不限里程</span>电池无忧保障</div>
        </div>
        <div class="center-row">
          <div class="center-label">服务无忧:</div>
          <div class="center-text">2019年每月节能排名前100名的车主，可享受免费保养服务一次</div>
        </div>
      </div>
      <div class="btn-con">
        <img *ngIf="!isYaoqinghan" (tap)="gotoJinrongjie();" class="go" src="/assets/img/carPrice/go.png">
        <img *ngIf="isYaoqinghan" (tap)="gotoGaming();" class="go" src="/assets/img/carPrice/open.png">
      </div>
      <sk-image class="car" src="/assets/img/reserve/car.png" [ratio]="1192/610"></sk-image>
      <p class="bottom-desc">*现补贴价按2018年国补政策计算，仅供参考。待2019年新国补政策出台，以新政策规定办理补贴。*需装珍珠白车身需另加2000元</p>
    </div>

  </div>
  <!--<sk-image (tap)="gotoJinrongjie();" class="btn-img" [ratio]="784/154" src="/assets/img/carPrice/btn.png"></sk-image>-->
</sk-layout>
