@import "../../../theme/variables";

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/img/carPrice/bg.jpg");
  background-size: cover;
  background-position: center top;
  pointer-events: none;


  .car {
    position: absolute;
    bottom: 0.2rem;
    left: -0.3rem;
    width: 2.36rem;
  }
}

sk-layout {
  z-index: 2;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center top;
}


//.price-img {
//  margin-top: 1.9rem;
//  width: 80%;
//  margin-left: 10%;
//}
//
//.btn-img {
//  position: absolute;
//  width: 1.9rem;
//  bottom: 0.5rem;
//  left: 50%;
//  transform: translateX(-50%);
//}
.content {
  padding: 0 0.35rem;
}
.title {
  width: 2.3rem;
}
.title2 {
  width: 100%;
  font-size: 0.16rem;
  font-weight: bold;
  letter-spacing: 0.04rem;
  color: #fff;
  font-style: italic;
  padding-bottom: 0.1rem;
  text-align: center;
}
.text-top, .text-center {
  color: #fff;
  font-size: 0.14rem;
}
.text-top {
  margin: 0.14rem 0;
}
.top-row {
  //overflow: hidden;
  &::after, &::before {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
  > div {
    float: left;
    width: 50%;
  }
}

.price {
  white-space:nowrap;
  margin-top: 2px;
}
.unit {
  margin-left: 0.04rem;
}
.top-num {
  color: #00ffff;
  font-size: 0.22rem;
  transform: translate(0, 0);
  animation: my-first 0.5s;
  display: inline-block;

  @keyframes my-first
  {
    0%   {transform: scale(0.3, 0.3) translate(1.2rem, -1.2rem);opacity: 0}
    50%  {transform: scale(1.2, 1.2) translate(-0.1rem, 0.1rem);opacity: 1;}
    100% {transform: scale(1, 1);}
  }
}

.part2 {
  animation: my-first2 0.5s;
  animation-delay: 0.5s;
  display: inline-block;
  animation-fill-mode: both;

  @keyframes my-first2
  {
    0%   {transform: scale(0.2, 0.2) translate(3.2rem, -3.2rem);opacity: 0}
    50%  {transform: scale(1.2, 1.2) translate(-0.2rem, 0.2rem);opacity: 1;}
    100% {transform: scale(1, 1);}
  }
}

.car-type {
  white-space: nowrap;
}
.text-center {
  border-top: 1px solid #fff;

  & > .center-row {
    margin-top: 0.06rem;
  }
  .center-row {
    margin-bottom: 0.04rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .center-label {
    font-size: 0.13rem;
    font-weight: bold;
    white-space: nowrap;
  }
  .center-text {
    flex: 1;
    font-size: 0.12rem;
    margin-left: 0.04rem;
    white-space: normal;
    overflow: hidden;
    line-height: 0.2rem;
  }
  .key-text {
    color: #00ffff;
    font-size: 0.13rem;
    font-weight: bold;
    margin-right: 0.04rem;
  }
}
.go {
  width: 1.33rem;
}


.btn-con {
  text-align: right;
  margin-top: 0.1rem;
}

