<div class="back-img">
  <!-- header -->
  <div class="header">
    <div class="logo-box">
      <img class="logo" src="../../../../assets/img/logo.png" alt="logo">
    </div>

    <!-- 头部小字介绍 -->
    <div class="product-box">
      <img class="product" src="../../../../assets/img/yaoqinghan/product.png" alt="product">
    </div>
  </div>

  <!-- 邀请函图片 -->
  <div class="title-box">
    <img class="title" src="../../../../assets/img/yaoqinghan/title.png" alt="title">
  </div>

  <!-- 文字 -->
  <div class="txt-info">
    <div class="txt-img-box">
      <img class="txt-img" src="../../../../assets/img/yaoqinghan/txt.png" alt="txt-img">
    </div>

    <ul class="txt-box">
      <li>听闻在遥远的地球上</li>
      <li>居然还有人类生存</li>
      <li>雷凌星球的公民们兴奋不已</li>
      <li>在此向地球的居民们发起联谊会邀请</li>
      <li>并且派出雷凌双擎E+穿越星际前来相邀</li>
      <li>来联谊的地球居民还能获得雷凌星球</li>
      <li>公民证一张哦~</li>
    </ul>
  </div>

  <!-- 输入框 -->
  <div class="input-box">
    <input type="text" placeholder="请输入雷凌密码" />
  </div>

  <!-- 确认按钮 -->
  <div class="btn-box">
    <button></button>
  </div>
</div>
