//字号
$xxSmallFontSize: 0.11rem;
$xSmallFontSize: 0.12rem;
$smallFontSize: 0.13rem;
$defaultFontSize: 0.14rem;
$largeFontSize: 0.16rem;
$xLargeFontSize: 0.17rem;
$xxLargeFontSize: 0.18rem;
$xxxLargeFontSize: 0.20rem;

// 高度
$headerHeight: 0.48rem;

//颜色
$primaryColor: #e0ae01;
$defaultFontColor: #333;
$bodyBack: #fafafa;
$maskColor: rgba(0, 0, 0, 0.5);
$greyColor: #C6CBD7;
$greyFontColor: #949AA7;

$tagBorderColor: #e9e9e9;

// zIndex管理
$maskIndex: 1000;
$dialogIndex: 1010;
$loadingIndex: 900;

