//字号
$xxSmallFontSize: 11px;
$xSmallFontSize: 12px;
$smallFontSize: 13px;
$defaultFontSize: 14px;
$largeFontSize: 16px;
$xLargeFontSize: 18px;
$xxLargeFontSize: 20px;

// 高度
$headerHeight: 45px;

//颜色
$primaryColor: #FF552D;
$defaultFontColor: #333;
$bodyBack: #fafafa;

