.sk-input{
  color: #828999;
  height: 0.51rem;
  border-bottom: 1px solid #EAEAEA;
  line-height: 0;
  overflow: hidden;

  input{
    box-sizing: content-box;
    color: inherit;
    border: none;
    text-indent: 0.5em;
    transform-origin: left top;
    line-height: 1;
    background-color: transparent;

    //// 0.18 0.12
    //padding: 0.06rem 0.04rem;
    //width: 33.33333%;
    //transform: scale(3);
    // 0.15rem
    //font-size: 0.05rem;
    //height: 0.05rem;
  }

  &.disabled{
    color: #828999;
  }
}
