<div class="logo-box">
  <img class="logo-l" src="/assets/img/logo-l.png" alt="logo">
  <img class="logo-r" src="/assets/img/logo-r.png" alt="logo">
</div>
<div class="btns-con">
  <button *ngIf="hasBack" class="left back-btn" (tap)="onTapBack()" [ngClass]="{scale: isScale}">
    <span class="back-angle"><</span>
    <span class="back1">返回</span>
  </button>

  <button class="right m-btn" (tap)="toggleMusic()" [ngClass]="{scale: isScale}">
    <span *ngIf="!audioService.isPaused()" class="m1">关闭</span>
    <span  *ngIf="audioService.isPaused()"  class="m2">播放</span>
  </button>
</div>

