:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.logo-box {
  padding: 0.16rem;
  .logo {
    height: 0.16rem;
  }
}

.back-btn {
  background-color: transparent;
  display: inline-block;
  width: 0.55rem;
  height: 0.22rem;
  line-height: 0.22rem;
  text-align: center;
  font-size: 0.13rem;
  margin: 0.12rem;
  border: 1px solid #feffff;
  box-shadow: 0px 0px 10px #0AAAEC;
  text-shadow: 0px 0px 2px #0EE0FF;
  color: #fff;

  &.scale {
    transform: scale(0.8) translateY(-36%);
  }
}
