:host {
  display: block;
}

.logo-box {
  display: flex;
  padding: 0.1rem 0.13rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  .logo-l {
    height: 0.29rem;
  }
  .logo-r {
    height: 0.29rem;
  }
}

button {
  background-color: transparent;
  display: inline-block;
  border: none;
  color: #fff;
}

.back-btn {
  margin-left: 0.13rem;

  &.scale {
    transform: scale(0.8) translateY(-36%);
  }

  .back-angle {
    color: #00FFFF;
  }

  .back1 {
    margin-left: 0.1rem;
  }
}

.btns-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right {
  flex: 1;
  text-align: right;
  padding-right: 0.3rem;
}

.m1 {
  width: 0.3rem;
  display: inline-block;
}
