<div class="back-img">
  <!-- header -->
  <div class="header">
    <div class="logo-box">
      <img class="logo" src="../../../../assets/img/logo.png" alt="logo">
    </div>

    <!-- 头部小字介绍 -->
    <div class="product-box">
      <img class="product" src="../../../../assets/img/yaoqinghan/product.png" alt="product">
    </div>
  </div>

  <!-- 邀请函图片 -->
  <div class="title-box">
    <img class="title" src="../../../../assets/img/yaoqinghan/title.png" alt="title">
  </div>

  <!-- form -->
  <div class="review-form">
    <div class="rev_txt">
      <ul>
        <li>
          <dl>
            <dd class="info">您的姓名：</dd>
            <dd class="ipt">
              <input type="text" placeholder="您的姓名" />
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dd class="info">联系方式：</dd>
            <dd class="ipt">
              <input type="text" placeholder="联系方式" />
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dd class="info">联谊单位：</dd>
            <dd class="ipt">
              <input type="text" placeholder="联谊单位" />
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="rev_btn">
      <button class="sccf"></button>
    </div>
  </div>

  <!-- car -->
  <div class="car-box">
    <img class="car" src="../../../../assets/img/yaoqinghan/car.png" alt="car">
  </div>
</div>
