<sk-layout>
<!--<sk-layout *ngIf="apartmentDetail">-->
  <div class="header">
    <div class="logo-box">
      <img class="logo" src="../../../../assets/img/jinrongjie/logo.png" alt="logo">
    </div>
  </div>
  <div class="main">
    <div class="content">
      <div class="title-row">
        <div class="title-l">配置价格</div>
        <div class="title-r">官方指导价</div>
      </div>
      <div class="cell-row">
        <div class="cell-l">1.8V豪华版（CVT）</div>
        <div class="cell-r">
          <span>16.18万元</span>
          <img class="more" src="../../../../assets/img/cars/more.png">
        </div>
      </div>
      <div class="cell-row">
        <div class="cell-l">1.8GS-L领先版（CVT）</div>
        <div class="cell-r">
          <span>15.26万元</span>
          <img class="more" src="../../../../assets/img/cars/more.png">
        </div>
      </div>
      <div class="cell-row">
        <div class="cell-l">1.8V豪华版（CVT）</div>
        <div class="cell-r">
          <span>16.18万元</span>
          <img class="more" src="../../../../assets/img/cars/more.png">
        </div>
      </div>
      <div class="cell-row">
        <div class="cell-l">1.8GS-L领先版（CVT）</div>
        <div class="cell-r">
          <span>15.26万元</span>
          <img class="more" src="../../../../assets/img/cars/more.png">
        </div>
      </div>
      <div class="cell-row">
        <div class="cell-l">1.8V豪华版（CVT）</div>
        <div class="cell-r">
          <span>16.18万元</span>
          <img class="more" src="../../../../assets/img/cars/more.png">
        </div>
      </div>
      <div class="cell-row">
        <div class="cell-l">1.8GS-L领先版（CVT）</div>
        <div class="cell-r">
          <span>15.26万元</span>
          <img class="more" src="../../../../assets/img/cars/more.png">
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        <img class="btn" src="../../../../assets/img/cars/btn.png">
      </a>
    </div>
  </div>
</sk-layout>
