<div *ngIf="hasShow" class="modal-container"
     [@anim]="state"
     (@anim.done)="animationDone($event)"
     (@anim.start)="animationStart($event)">

  <sk-header [title]="title" (tapRight)="onTapConfirm()" (tapLeft)="onTapClose()" (touchmove)="onTouchMove($event)">
    <span class="left" [skIcon]="'close'"></span>
    <span *ngIf="hasConfirm" class="right" [skIcon]="'confirm2'"></span>
  </sk-header>
  <div class="main-content">
    <ng-content></ng-content>
  </div>
</div>
<sk-mask [(isShow)]="isShow"></sk-mask>
