<sk-layout>
<!--<sk-layout *ngIf="apartmentDetail">-->
  <div class="header">
    <div class="logo-box">
      <img class="logo" src="../../../../assets/img/jinrongjie/logo.png" alt="logo">
    </div>
    <div class="back-box">
      <img class="back" src="../../../../assets/img/jinrongjie/back.png" alt="back">
    </div>
  </div>
  <div class="main">
    <div class="content">
      <div class="title-box">
        <img class="title" src="../../../../assets/img/jinrongjie/title.png">
      </div>

      <div class="select-box">
        <div>
          <div class="row-box">
            <div class="row-title">车型选择</div>
            <div class="row-right">
              <div class="right-content">
                雷凌HPEV
              </div>
              <div class="arrows-box">
                <img class="arrows" src="../../../../assets/img/jinrongjie/arrows.png">
              </div>
              <select class="row-select">
                <option value="1">打卡机1</option>
                <option value="2">打卡机2</option>
                <option value="3">打卡机3</option>
              </select>
            </div>
          </div>
        </div>

        <div>
          <div class="row-box">
            <div class="row-title">移民源地区</div>
            <div class="row-right">
              <div class="right-content">
                湖南省长沙市
              </div>
              <div class="arrows-box">
                <img class="arrows" src="../../../../assets/img/jinrongjie/arrows.png">
              </div>
              <select class="row-select">
                <option value="1">打卡机1</option>
                <option value="2">打卡机2</option>
                <option value="3">打卡机3</option>
              </select>
            </div>
          </div>
        </div>

        <div>
          <div class="row-box">
            <div class="row-title">配置选择</div>
            <div class="row-right">
              <div class="right-content">
                2.4L舒适版
              </div>
              <div class="arrows-box">
                <img class="arrows" src="../../../../assets/img/jinrongjie/arrows.png">
              </div>
              <select class="row-select">
                <option value="1">打卡机1</option>
                <option value="2">打卡机2</option>
                <option value="3">打卡机3</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div style="overflow: hidden">
        <div class="row-line"></div>

        <div style="margin: 0.15rem 0">
          <div class="yuanjia-box">
            <img class="yuanjia" src="../../../../assets/img/jinrongjie/yuanjia.png">
          </div>
          <div  class="yunjia-jisuan">
            <div>
              <div style="margin-bottom: 0.18rem">20万</div>
              <div>-05万</div>
            </div>
          </div>
        </div>

        <div class="row-line"></div>

        <div>
          <div class="yuanjia-box">
            <img class="yuanjia" src="../../../../assets/img/jinrongjie/youhui.png">
          </div>
          <div  class="youhui-jisuan">
            15万
          </div>
        </div>
      </div>

      <div class="content-bottom">
        <div>
          <a class="detail" href="#">查看政策详情</a>
        </div>
        <div>
          <img class="share" src="../../../../assets/img/jinrongjie/share.png">
        </div>
        <div class="share-text">点击分享</div>
      </div>
    </div>
  </div>
</sk-layout>
