<sk-layout>
  <div class="header">
    <div class="logo-box">
      <img class="logo" src="../../../../assets/img/jinrongjie/logo.png" alt="logo">
    </div>
  </div>
  <div class="main">
    <div class="content">
      <div class="title-box">
        <img class="title" src="../../../../assets/img/jinrongjie/title.png">
      </div>

      <div class="select-box">
        <div>
          <div class="row-box">
            <div class="row-title">车型选择</div>
            <div class="row-right" (tap)="this.isShowCar = true">
              <div class="right-content">
                {{selectCar.text}}
              </div>
              <div class="arrows-box">
                <img class="arrows" src="../../../../assets/img/jinrongjie/arrows.png">
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row-box">
            <div class="row-title">移民源地区</div>
            <div class="row-right" (tap)="this.isShowArea = true">
              <div class="right-content">
                {{selectAreaText}}
              </div>
              <div class="arrows-box">
                <img class="arrows" src="../../../../assets/img/jinrongjie/arrows.png">
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row-box">
            <div class="row-title">配置选择</div>
            <div class="row-right" (tap)="this.isShowConfig = true">
              <div class="right-content">
                {{selectConfig.text}}
              </div>
              <div class="arrows-box">
                <img class="arrows" src="../../../../assets/img/jinrongjie/arrows.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="overflow: hidden">
        <div class="row-line"></div>

        <div style="margin: 0.15rem 0">
          <div class="yuanjia-box">
            <img class="yuanjia" src="../../../../assets/img/jinrongjie/yuanjia.png">
          </div>
          <div  class="yunjia-jisuan">
            <div>
              <div style="margin-bottom: 0.18rem">20万</div>
              <div>-5万</div>
            </div>
          </div>
        </div>

        <div class="row-line"></div>

        <div>
          <div class="yuanjia-box">
            <img class="yuanjia" src="../../../../assets/img/jinrongjie/youhui.png">
          </div>
          <div  class="youhui-jisuan">
            15万
          </div>
        </div>
      </div>

    </div>
    <div class="content-bottom">
      <!--<div>-->
      <!--<a class="detail" href="#">查看政策详情</a>-->
      <!--</div>-->
      <div>
        <img class="share" src="../../../../assets/img/jinrongjie/share.png">
      </div>
      <!--<div class="share-text">点击分享</div>-->
    </div>
  </div>
</sk-layout>

<sk-picker [(isShow)]="isShowCar" [title]="'选择车型'" [data]="carData" (changeSelectedItem)="onChangeCar($event)"></sk-picker>
<sk-picker [(isShow)]="isShowArea" [isMulti]="true"
           [title]="'选择地区'" displayField="name" valueField="id"
           [data]="areaData" (changeSelectedItem)="onChangeArea($event)"></sk-picker>
<sk-picker [(isShow)]="isShowConfig" [title]="'选择配置'" [data]="configData" (changeSelectedItem)="onChangeConfig($event)"></sk-picker>
