@import "../../../theme/variables";

.back-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/img/vipjizhan/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000;
}

.center_bg {
  position: relative;
  width: 3.375rem;
  height: 5rem;
  background: url(/assets/img/vipjizhan/center_bg.png) top no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;

  .experience, .seek {
    position: absolute;
    width: 1.35rem;
    height: 0.6rem;
    outline: none;
    border: none;
    overflow: hidden;
  }

  .experience {
    left: 0.46rem;
    top: 1.38rem;
    background: url(/assets/img/vipjizhan/experience.png) top no-repeat;
    background-size: 100%;
  }

  .seek {
    right: 0.46rem;
    bottom: 2rem;
    background: url(/assets/img/vipjizhan/seek.png) top no-repeat;
    background-size: 100%;
  }
}
