@import "../../../theme/variables";
.modal-container{

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1010;

  .main-content {
    margin-left: -1.6rem;
    left: 50%;
    top: 50%;
    height: 6rem;
    width: 3.2rem;
    margin-top: -3rem;
    background-position: center center;
    background-image: url(/assets/img/forum/bg.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;

    .close-con {
      position: absolute;
      top: 0.1rem;
      right: 0.1rem;
      width: 0.8rem;
      text-align: right;
      padding: 0.1rem;
    }
    .close-image {
      display: inline-block;
      width: 0.15rem;
    }
  }

  .bar-part {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.2rem;
    width: 5px;
    border-radius: 2px;
    overflow: hidden;
  }

  .line-bar {
    top: 0rem;
    bottom: 0rem;
    right: 2px;
    position: absolute;
    width: 1px;
    background-color: #00FFFF;

    .line {
      top: 0;
      position: absolute;
      width: 5px;
      border-radius:2px;
      margin-left: -2px;
      height: 0.67rem;
      background-color: #00FFFF;
    }
  }
}

.scroll-wrapper {
  top: 0.3rem;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
  padding: 0rem 0.1rem;
  word-break: break-all;
  overflow: hidden;

  .scroll {
    color: white;
    width: 100%;
    overflow-x: hidden;
    word-break: break-all;

    img {
      max-width: 100%;
    }
  }
}

.content-img {
  width: 100%;
}

.title {
  text-align: center;
  width: 100%;
  border-bottom: 1px dashed rgba(0, 160, 233, 1);
  line-height: 0.3rem;
  font-size: 0.18rem;
  font-weight: 600;
}

.rich-wrapper {
  padding: 0.15rem 0;
}
