<div [@anim]="state" class="modal-container"
     (@anim.done)="animationDone($event)" (touchmove)="stop($event)" (touchstart)="stop($event)">
  <div class="main-content">
    <div class="close-con" (tap)="onTapClose()">
      <sk-image  class="close-image" [ratio]="1" src="/assets/img/reserve/close.png"></sk-image>
    </div>
    <div class="scroll-wrapper">
      <div class="scroll" #scroll>
        <div class="title">{{richData && (richData.title || '无题')}}</div>
        <div class="rich-wrapper" [innerHTML]="richData && richData.text"></div>
      </div>
    </div>
  </div>
</div>
<sk-mask [(isShow)]="isShow" [isTapBackHide]="true"></sk-mask>
