$icomoon-font-family: "fun-iconfont" !default;
$icomoon-font-path: "fonts" !default;

$sk-i-failure: "\e900";
$sk-i-more: "\e901";
$sk-i-checked-normal: "\e902";
$sk-i-search: "\e903";
$sk-i-plus-circle-fill: "\e904";
$sk-i-building: "\e905";
$sk-i-minus-circle-fill: "\e906";
$sk-i-plus: "\e907";
$sk-i-angle-up: "\e908";
$sk-i-add-circle: "\e909";
$sk-i-editor-pan: "\e90a";
$sk-i-full-angle-up: "\e90b";
$sk-i-determine: "\e90c";
$sk-i-edit: "\e90d";
$sk-i-bill: "\e90e";
$sk-i-new: "\e90f";
$sk-i-question: "\e910";
$sk-i-electric: "\e911";
$sk-i-water: "\e912";
$sk-i-alipay: "\e913";
$sk-i-phone: "\e914";
$sk-i-loading: "\e915";
$sk-i-wechat: "\e916";
$sk-i-funlive: "\e917";
$sk-i-funsuper: "\e918";
$sk-i-funwork: "\e919";
$sk-i-help: "\e91a";
$sk-i-eye-hide: "\e91b";
$sk-i-eye-show: "\e91c";
$sk-i-service: "\e91d";
$sk-i-bank2: "\e91e";
$sk-i-bus2: "\e91f";
$sk-i-fitness2: "\e920";
$sk-i-food2: "\e921";
$sk-i-location2: "\e922";
$sk-i-mall2: "\e923";
$sk-i-metro2: "\e924";
$sk-i-plane2: "\e925";
$sk-i-supermarket2: "\e926";
$sk-i-train2: "\e927";
$sk-i-logo: "\e928";
$sk-i-moments: "\e92d";
$sk-i-about: "\e92e";
$sk-i-apartment_pitch: "\e92f";
$sk-i-full-angle-down: "\e930";
$sk-i-head: "\e931";
$sk-i-angle-right: "\e932";
$sk-i-angle-down: "\e933";
$sk-i-angle-left: "\e934";
$sk-i-angle-left-edge: "\e935";
$sk-i-camera: "\e936";
$sk-i-close: "\e937";
$sk-i-checked1: "\e938";
$sk-i-confirm: "\e939";
$sk-i-confirm2: "\e93a";
$sk-i-conversion: "\e93b";
$sk-i-home: "\e93c";
$sk-i-mine_pitch: "\e93d";
$sk-i-opinion: "\e93e";
$sk-i-pattern: "\e93f";
$sk-i-photograph: "\e940";
$sk-i-problem: "\e941";
$sk-i-qq: "\e942";
$sk-i-qzone: "\e943";
$sk-i-reserve: "\e944";
$sk-i-set-up: "\e945";
$sk-i-share: "\e947";
$sk-i-useful_gray: "\e948";
$sk-i-useless_gray: "\e949";
$sk-i-weibo: "\e94a";
$sk-i-weixin: "\e94b";
$sk-i-dispose: "\e94c";
$sk-i-full: "\e94d";
$sk-i-distance: "\e94e";
$sk-i-location: "\e94f";
$sk-i-remove-back: "\e950";
$sk-i-verify: "\e951";
$sk-i-start-empty: "\e952";
$sk-i-question-fill: "\e953";
$sk-i-heart1: "\e954";
$sk-i-start-empty-bold: "\e955";
$sk-i-star-full: "\e956";
$sk-i-bank: "\e957";
$sk-i-bus: "\e958";
$sk-i-fitness: "\e959";
$sk-i-food: "\e95a";
$sk-i-mall: "\e95b";
$sk-i-metro: "\e95c";
$sk-i-navigation: "\e95d";
$sk-i-plane: "\e95e";
$sk-i-supermarket: "\e95f";
$sk-i-train: "\e960";
$sk-i-payfailure: "\e961";
$sk-i-payprocessing: "\e962";
$sk-i-heart: "\e946";

