@import "variables";

.sk-btn {
  display: inline-block;
  padding: 0;
  margin: 0;
  transition: background-color 250ms ease-in;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  background-color: transparent;
  border-radius: $borderRadius;
  text-align: center;
  font-size: $defaultFontSize;
  border: 1px solid transparent;

  button{
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    line-height: 1;
    font-size: inherit;
    color: inherit;
    width: 100%;
    pointer-events: none;
    height: $defaultHeight;
  }

  // 颜色
  &.default-color{
    border-color: $defaultBorderColor;
    color: $defaultFontColor;

    &.hover{
      color: $defaultHoverFontColor;
      background-color: $defaultHoverBackColor;
    }

    &.disabled{
      background-color: transparent;
      border-color: $defaultDisabledBorderColor;
      color: $defaultDisabledFontColor;
    }
  }

  &.primary{
    border-color: $primaryBackColor;
    color: $primaryFontColor;
    background-color: $primaryBackColor;

    &.hover{
      border-color: $primaryHoverBackColor;
      background-color: $primaryHoverBackColor;
      color: $primaryHoverFontColor;
    }

    &.disabled{
      border-color: $primaryDisabledBackColor;
      background-color: $primaryDisabledBackColor;
      color: $primaryDisabledFontColor;
    }
  }

  &.black{
    border-color: $blackBackColor;
    color: $blackFontColor;
    background-color: $blackBackColor;

    &.hover{
      border-color: $blackHoverBackColor;
      background-color: $blackHoverBackColor;
      color: $blackHoverFontColor;
    }

    &.disabled{
      border-color: $blackDisabledBackColor;
      background-color: $blackDisabledBackColor;
      color: $blackDisabledFontColor;
    }
  }

  // 尺寸
  &.normal-size{
    width: $defaultWidth;
    font-size: $defaultFontSize;
  }

  &.small{
    width: $smallWidth;
    font-size: $smallFontSize;

    button{
      height: $smallHeight;
    }
  }

  &.full{
    width: $fullWidth;
    font-size: $fullFontSize;
    button{
      height: $fullHeight;
    }
  }
}
