@import "../../../theme/variables";

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/img/reserve/bg.jpg");
  background-size: cover;
  background-position: center top;

  .text-img {
    width: 3rem;
    margin-top: 0.46rem;
    margin-left: 0.6rem;
  }
}

sk-layout {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
}

.main {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.btn {
  text-align: center;
  width: 1.23rem;
  margin: 0.27rem auto 0 auto;
}

.protocol-con {
  margin-top: 0.8rem;
  color: #fff;
  display: flex;
  font-size: 0.12rem;
  text-decoration: underline;
  align-items: flex-start;
  justify-content: center;
  line-height: 0.15rem;

  .check-box {
    width: 0.14rem;
    height: 0.14rem;
    vertical-align: top;
  }
}
