<sk-layout [@anim]="state" [type]="'static'">
  <sk-header (tapLeft)="onTapClose()">
    <span class="left close" [skIcon]="'close'"></span>
  </sk-header>

  <sk-inner-scroll>
    <div class="current">
      <div class="desc">当前城市</div>
      <div class="city-item">{{currentCity.cityName}}</div>
    </div>

    <div class="city-part">
      <div class="desc">全部城市</div>
      <ul class="city-list">
        <li *ngFor="let city of cityList" (tap)="onTapCity(city)" class="city-item">{{city.cityName}}<span *ngIf="city.cityId === currentCity.cityId" [skIcon]="'confirm'"></span> </li>
      </ul>
    </div>
  </sk-inner-scroll>
</sk-layout>
