@import "../../theme/variables";

$distance: 0.2rem;
$border: 1px solid #efefef;

sk-layout{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform-origin: center top;
}


.close{
  color: $greyFontColor;
  margin-left: 0.04rem;
  font-size: $xLargeFontSize;
}



.f-icon-confirm {
  font-size: 40px;
  color: #E0AE01;
  float: right;
  display: block;
  line-height: 82px;
  margin-right: 20px;
}

.current {
  font-size: 0.15rem;
  letter-spacing: 0.52px;
  padding: 0 $distance;
  border-bottom: $border;
}

.desc {
  color: $greyFontColor;
  font-size: $smallFontSize;
  padding-top: 0.16rem;
}

.city-part .desc{
  padding-left: $distance;
}

.city-item {
  padding: 0.12rem 0;
  font-size: 0.15rem;

  & + &{
    border-top: $border;
  }

  .icon{
    color: $primaryColor;
    float: right;
    margin-right: $distance;
    font-size: $xxLargeFontSize;
  }
}

.city-list {
  list-style: none;
  margin: 0;
  padding-left: $distance;
  border-bottom: $border;
}
