<sk-layout *ngIf="apartmentDetail">
  <sk-gradient>
    <span class="black-back" [skIcon]="'angle-left'" (tap)="onTapBack()"></span>
    <sk-header class="gradient-part" [hasBack]="true" [title]="apartmentDetail.apartmentName"></sk-header>
  </sk-gradient>

  <div class="main">
    <sk-image [src]="apartmentDetail.pics[0].picUrl" [ratio]="16 / 9"></sk-image>

    <div class="info-part">
      <h3>{{apartmentDetail.apartmentName}}</h3>
      <p class="desc">
        <span>{{apartmentDetail.district}}</span>
        <span>{{apartmentDetail.addressLine}}</span>
      </p>
      <div class="price-info">
        <sk-money [amount]="apartmentDetail.priceLow"></sk-money>
        <div class="right">
          <span>租金说明</span>
          <span [skIcon]="'angle-right'"></span>
        </div>
      </div>

      <div class="tags">
        <sk-tag *ngFor="let label of apartmentDetail.labels"  [size]="EnTagSize.small" [text]="label.name"></sk-tag>
      </div>
    </div>

    <div class="device-list">
      <div class="icon-text">
        <span [skIcon]=""></span>
      </div>
    </div>

  </div>

  <div class="bottom">

  </div>
</sk-layout>
