@import "../../theme/variables";
.dialog-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $dialogIndex;
}

.dialog-wrapper{
  z-index: $dialogIndex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 2.7rem;
  border-radius: 0px;
  overflow: hidden;
  max-width: 70%;
  max-height: 70%;
  font-size: $largeFontSize;
  box-shadow: rgb(100, 100, 100) 0px 4px 9px -4px;;
}

.dialog-content{
  min-height: 1rem;
  text-align: center;
  line-height: 0.24rem;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  padding: 0.24rem;
}
.info{
  flex: 1;
}

.actions{
  height: 0.45rem;
  border-top: 1px solid #ebebeb;
  display: flex;
}
.btn{
  flex: 1;
  border: none;
  background-color: transparent;
  height: 100%;
  text-indent: 0;
  padding: 0;
  margin: 0;
  font-size: 0.15rem;
  letter-spacing: 4px;
  transition: background-color 200ms ease-in;

  &.cancel{
    border-right: 1px solid #ebebeb;
    color: $greyFontColor;
  }
  &.ok{
    color: #e0ae01;
  }

  &.hover{
    background-color: #ebebeb;
  }
}
